/* Galada */
@import url('https://fonts.googleapis.com/css2?family=Farsan&family=Galada&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Farsan&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-size: 100%;
}

:root {
  --padding-x: 2.5rem;

  --branco: #fff;
  --cinza-claro: #F6F6F5;
  --cinza-escuro: #313131;
  --preto: #000;

  --verde-lima: #C0EC63;
  --verde-claro: #ACFFEA;
  --verde-padrao: #48A990;
  --verde-medio: #309279;
  --verde-escuro: #0C4839;

  --card-cor1: #12CA58;
  --card-cor2: #20CDB9;
  --card-cor3: #438CF9;
  --card-cor1-claro: #A0EABC;
  --card-cor2-claro: #A6EBE3;
  --card-cor3-claro: #B4D1FD;
}