:root {
  --padding-x: 3rem;
  --transicao: 0.5s ease;

  --branco: #fff;
  --cinza-branco: #F2F2F2;
  --cinza-claro: #F6F6F5;
  --cinza-medio: #8B8B8B;
  --cinza-escuro: #313131;
  --preto: #000;

  --verde-lima: #C0EC63;
  --verde-claro: #ACFFEA;
  --verde-padrao: #48A990;
  --verde-medio: #309279;
  --verde-escuro: #0C4839;

  --card-servico: #D3FFF4;
  --card-verde: #12CA58;
  --card-ciano: #20CDB9;
  --card-azul: #438CF9;
  --card-verde-claro: #A0EABC;
  --card-ciano-claro: #A6EBE3;
  --card-azul-claro: #B4D1FD;
}