<link rel="stylesheet" href="css/partials_css/index_css/indexBlank.css">

<div class="blank">
  <a href="">
    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 256 256">
      <path fill="black"
        d="m239.71 125l-16.42-88a16 16 0 0 0-19.61-12.58l-.31.09L150.85 40h-45.7L52.63 24.56l-.31-.09a16 16 0 0 0-19.61 12.58L16.29 125a15.77 15.77 0 0 0 9.12 17.52a16.3 16.3 0 0 0 6.71 1.48a15.5 15.5 0 0 0 7.88-2.16V184a40 40 0 0 0 40 40h96a40 40 0 0 0 40-40v-42.15a15.5 15.5 0 0 0 7.87 2.16a16.3 16.3 0 0 0 6.72-1.47a15.77 15.77 0 0 0 9.12-17.54M32 128l16.43-88L90.5 52.37Zm144 80h-40v-12.69l13.66-13.65a8 8 0 0 0-11.32-11.32L128 180.69l-10.34-10.35a8 8 0 0 0-11.32 11.32L120 195.31V208H80a24 24 0 0 1-24-24v-60.89L107.92 56h40.15L200 123.11V184a24 24 0 0 1-24 24m48-80l-58.5-75.63L207.57 40zm-120 12a12 12 0 1 1-12-12a12 12 0 0 1 12 12m72 0a12 12 0 1 1-12-12a12 12 0 0 1 12 12" />
    </svg>
    Cachorros
  </a>
  <a href="">
    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 256 256">
      <path fill="black"
        d="M96 140a12 12 0 1 1-12-12a12 12 0 0 1 12 12m76-12a12 12 0 1 0 12 12a12 12 0 0 0-12-12m60-80v88c0 52.93-46.65 96-104 96S24 188.93 24 136V48a16 16 0 0 1 27.31-11.31c.14.14.26.27.38.41L69 57a111.22 111.22 0 0 1 118.1 0l17.21-19.9c.12-.14.24-.27.38-.41A16 16 0 0 1 232 48m-16 0l-21.56 24.8a8 8 0 0 1-10.81 1.2A89 89 0 0 0 168 64.75V88a8 8 0 1 1-16 0V59.05a97.4 97.4 0 0 0-16-2.72V88a8 8 0 1 1-16 0V56.33a97.4 97.4 0 0 0-16 2.72V88a8 8 0 1 1-16 0V64.75A89 89 0 0 0 72.37 74a8 8 0 0 1-10.81-1.17L40 48v88c0 41.66 35.21 76 80 79.67v-20.36l-13.66-13.66a8 8 0 0 1 11.32-11.31L128 180.68l10.34-10.34a8 8 0 0 1 11.32 11.31L136 195.31v20.36c44.79-3.69 80-38 80-79.67Z" />
    </svg>
    Gatos
  </a>
  <a href="">
    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24">
      <g fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.55">
        <path d="M16 7h.01M3.4 18H12a8 8 0 0 0 8-8V7a4 4 0 0 0-7.28-2.3L2 20" />
        <path d="m20 7l2 .5l-2 .5M10 18v3m4-3.25V21m-7-3a6 6 0 0 0 3.84-10.61" />
      </g>
    </svg>
    Pássaros
  </a>
  <a href="">
    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 16 16">
      <path fill="black"
        d="M9.5 3.875c0-.582.369-.875.625-.875s.625.293.625.875s-.369.875-.625.875s-.625-.293-.625-.875M10.125 2C9.138 2 8.5 2.938 8.5 3.875s.638 1.875 1.625 1.875s1.625-.938 1.625-1.875S11.112 2 10.125 2m-7.75 3.25c-.256 0-.625.293-.625.875S2.119 7 2.375 7S3 6.707 3 6.125s-.369-.875-.625-.875M.75 6.125c0-.937.638-1.875 1.625-1.875S4 5.188 4 6.125S3.362 8 2.375 8S.75 7.062.75 6.125m12.875-.875c-.256 0-.625.293-.625.875s.369.875.625.875s.625-.293.625-.875s-.369-.875-.625-.875M12 6.125c0-.937.638-1.875 1.625-1.875s1.625.938 1.625 1.875S14.612 8 13.625 8S12 7.062 12 6.125M5.875 3c-.256 0-.625.293-.625.875s.369.875.625.875s.625-.293.625-.875S6.131 3 5.875 3m-1.625.875C4.25 2.938 4.888 2 5.875 2S7.5 2.938 7.5 3.875S6.862 5.75 5.875 5.75S4.25 4.812 4.25 3.875M4 12a4 4 0 1 1 8 0c0 .534-.525 1-1.285 1h-5.43C4.525 13 4 12.534 4 12m4-5a5 5 0 0 0-5 5c0 1.298 1.212 2 2.285 2h5.43C11.788 14 13 13.298 13 12a5 5 0 0 0-5-5" />
    </svg>
    Outros animais
  </a>
</div>

<div class="info">
  <div class="info-body">
    <h1>"Encontre seu <br><span>novo companheiro</span><br>para toda a vida conosco!"</h1>
    <h3>- Fundação M.D.U.L.</h3>
  </div>
  <img src="img/vetor01-lq.png">
</div>