<link rel="stylesheet" href="css/partials_css/index_css/indexSobre.css">

<div class="sobre" id="sobre">
  <img src="img/image04-lq.png" />
  <div class="sobre-body">
    <h1>Sobre nós</h1>
    <h3>Qual o nosso propósito</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse dolores pariatur deleniti blanditiis molestias porro optio nobis repellendus distinctio reprehenderit et, perspiciatis dolor soluta explicabo consectetur minima sed eligendi, incidunt facilis. Dolorum velit suscipit, sequi recusandae, ut optio dicta laborum quasi at veritatis quod officiis neque reiciendis necessitatibus unde inventore.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat eligendi consequatur provident, quo facilis, est quasi commodi id minima nulla dolor! Soluta animi culpa iure earum saepe? Molestiae neque nisi perferendis placeat, tempore in ipsam facilis, non quos at maiores dolorum asperiores fugit fuga cum! Sequi minus pariatur ea iste.
    </p>
  </div>
</div>