<link rel="stylesheet" href="css/partials_css/index_css/indexServico.css">

<div class="servico-blank" id="servico">
  <div class="servico-info">
    <span class="icone verde">
      <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" viewBox="0 0 24 24"><path fill="white" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 2a2 2 0 0 0-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2m0 7c2.67 0 8 1.33 8 4v3H4v-3c0-2.67 5.33-4 8-4m0 1.9c-2.97 0-6.1 1.46-6.1 2.1v1.1h12.2V17c0-.64-3.13-2.1-6.1-2.1" /></svg>
    </span>
    <div class="servico-info-body">
      <h5>20+</h5>
      <p>Usuários</p>
    </div>
  </div>

  <div class="servico-info">
    <span class="icone ciano">
      <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" viewBox="0 0 16 16"><path fill="white" d="M3.64 15h8.043c.858 0 1.553-.696 1.553-1.554V6.914c1.407-.101 2.236-1.676 1.475-2.905l-.435-.702a1.9 1.9 0 0 0-1.619-.902h-1.176v-.483A.92.92 0 0 0 10.56 1a2.186 2.186 0 0 0-2.186 2.186v2.936c-1.096.123-1.93.652-2.542 1.388c-.688.826-1.09 1.899-1.33 2.924a15 15 0 0 0-.35 2.814c-.01.292-.01.548-.008.752h-.503a1.642 1.642 0 0 1-1.2-2.763l.797-.855a3.177 3.177 0 0 0-.076-4.412l-.782-.783a.5.5 0 1 0-.707.707l.783.783A2.176 2.176 0 0 1 2.508 9.7l-.798.855A2.643 2.643 0 0 0 3.64 15m6.841-12.997v.902a.5.5 0 0 0 .5.5h1.676c.313 0 .604.162.77.429l.435.702a.905.905 0 0 1-.77 1.383h-.355a.5.5 0 0 0-.5.5v7.027a.554.554 0 0 1-.554.554h-.553v-.554a2.607 2.607 0 0 0-2.607-2.608h-.878a.5.5 0 0 0 0 1h.878c.887 0 1.607.72 1.607 1.608V14H5.144c-.003-.193-.002-.437.007-.719c.024-.722.105-1.675.325-2.62c.222-.952.577-1.855 1.124-2.511c.531-.638 1.25-1.055 2.274-1.055a.5.5 0 0 0 .5-.5V3.186c0-.628.489-1.143 1.107-1.183"/></svg>
    </span>
    <div class="servico-info-body">
      <h5>20+</h5>
      <p>Animais</p>
    </div>
  </div>

  <div class="servico-info">
    <span class="icone azul">
      <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" viewBox="0 0 16 16"><path fill="white" d="m8.533.133l5.25 1.68A1.75 1.75 0 0 1 15 3.48V7c0 1.566-.32 3.182-1.303 4.682c-.983 1.498-2.585 2.813-5.032 3.855a1.7 1.7 0 0 1-1.33 0c-2.447-1.042-4.049-2.357-5.032-3.855C1.32 10.182 1 8.566 1 7V3.48a1.75 1.75 0 0 1 1.217-1.667l5.25-1.68a1.75 1.75 0 0 1 1.066 0m-.61 1.429l-5.25 1.68a.25.25 0 0 0-.174.237V7c0 1.36.275 2.666 1.057 3.859c.784 1.194 2.121 2.342 4.366 3.298a.2.2 0 0 0 .154 0c2.245-.957 3.582-2.103 4.366-3.297S13.5 8.358 13.5 7V3.48a.25.25 0 0 0-.174-.238l-5.25-1.68a.25.25 0 0 0-.153 0M11.28 6.28l-3.5 3.5a.75.75 0 0 1-1.06 0l-1.5-1.5a.749.749 0 0 1 .326-1.275a.75.75 0 0 1 .734.215l.97.97l2.97-2.97a.75.75 0 0 1 1.042.018a.75.75 0 0 1 .018 1.042"/></svg>
    </span>
    <div class="servico-info-body">
      <h5>20+</h5>
      <p>Confiabilidade</p>
    </div>
  </div>
</div>

<div class="servico-list">
  <h1>Serviços</h1>
  <h3>Nossas iniciativas para o bem-estar animal</h3>

  <div class="servico-cardlist">
    <div class="servico-card verde-card">
      <img src="img/imageCard1-lq.png">
      <div class="servico-card-body">
        <h5>Adote animais</h5>
        <p>Descrição</p>
        <a href="">
          Começar!
          <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="2rem" viewBox="0 0 12 24"><path fill="black" fill-rule="evenodd" d="M10.157 12.711L4.5 18.368l-1.414-1.414l4.95-4.95l-4.95-4.95L4.5 5.64l5.657 5.657a1 1 0 0 1 0 1.414"/></svg>
        </a>
      </div>
    </div>

    <div class="servico-card ciano-card">
      <img src="img/imageCard1-lq.png">
      <div class="servico-card-body">
        <h5>Adote animais</h5>
        <p>Descrição</p>
        <a href="">
          Começar!
          <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="2rem" viewBox="0 0 12 24"><path fill="black" fill-rule="evenodd" d="M10.157 12.711L4.5 18.368l-1.414-1.414l4.95-4.95l-4.95-4.95L4.5 5.64l5.657 5.657a1 1 0 0 1 0 1.414"/></svg>
        </a>
      </div>
    </div>

    <div class="servico-card azul-card">
      <img src="img/imageCard1-lq.png">
      <div class="servico-card-body">
        <h5>Adote animais</h5>
        <p>Descrição</p>
        <a href="">
          Começar!
          <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="2rem" viewBox="0 0 12 24"><path fill="black" fill-rule="evenodd" d="M10.157 12.711L4.5 18.368l-1.414-1.414l4.95-4.95l-4.95-4.95L4.5 5.64l5.657 5.657a1 1 0 0 1 0 1.414"/></svg>
        </a>
      </div>
    </div>
  </div>
</div>