<link rel="stylesheet" href="css/views_css/login.css">

<div class="container-login">
  <div class="login">
    <img src="img/logo/logo-completa.png">
    <div class="login-body">
      <h2>Faça o seu login</h2>

      <label for="user">Usuário:</label>
      <input type="text" id="user">

      <label for="senha">Senha:</label>
      <input type="password" id="senha">

      <button>Entrar</button>
      <button>Cadastrar</button>
    </div>
  </div>

  <img src="">
</div>

<script src="login.js"></script>