  <!-- FOOTER -->
  <footer>

    <div class="container text-center" id="contato">
      
      <div class="row Glinha01">
        <div class="footer-titulo col">
          <h2>ETEC ALERTA<span class="exclamacaoCor">!</span></h2>
        </div>

        <div class="footer-contato col">
          <i class='bx bxl-facebook-circle' ></i>
          <i class='bx bxl-google' ></i>
          <i class='bx bxl-github' ></i>
          <i class='bx bxl-instagram-alt' ></i>
          <i class='bx bxl-twitter' ></i>
        </div>
      </div>

      <span class="row-division"></span>

      <div class="row Glinha02">
        <div class="footer-nav col">
          <h2>Navegação</h2>
          <a href="/">Home</a>
          <a href="/#sobre">Sobre</a>
          <a href="/#noticia">Notícias</a>
        </div>

        <div class="footer-nav col">
          <h2>Suporte</h2>
          <a class="link-faq" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            FAQ
          </a>
          <!-- Modal FAQ -->
          <div class="modal fade" id="staticBackdrop" data-bs-theme="dark" data-bs-backdrop="static"
            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">FAQ</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h6>1. Qual o próposito do site?</h6>
                  <p>Um jornal para estudantes! Coisas que nos interessem e também coisas que acontecem na ETEC CT.</p>
                  <h6>2. Qual a veracidade das notícias?</h6>
                  <p>100% sem fake news!</p>
                  <h6>3. Porque o site se chama "ETEC Alerta!"?</h6>
                  <p>... Preciso responder?</p>
                  <h6>4. Melhor curso?</h6>
                  <p>DS</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>
          <a href="#">Contato</a>
          <a href="#">Copyright</a>
        </div>

        <div class="footer-nav col">
          <h2>Fale com nossa assessoria de imprensa:</h2>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Digite sua mensagem ..."
              rows="3"></textarea>
          </div>
          <input class="btn btn-primary" type="submit" value="Enviar">
        </div>
      </div>

    </div>

  </footer>