.header {
  width: 100%;

  padding: 0.5rem var(--padding-x);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .navbar-nav {
  gap: 1rem;
}

.header .nav-item {
  display: flex;
  align-items: center;
}

.header .nav-item .nav-link {
  color: var(--preto);
}

.header-logo img {
  width: 60px;
}

.header-btn-entrar {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: var(--branco);
  font-family: "Lobster", sans-serif;
  font-size: 1.375rem;

  padding: 0.5rem 2.75rem 0.5rem 2rem;

  background-color: var(--verde-padrao);
  border-radius: 10px;
  border: none;

  cursor: pointer;
  transition: var(--transicao);
}

.header-btn-entrar:hover {
  background-color: var(--verde-medio);
}

/* LOGADO DROPDOWN */
.dropdown-toggle {
  color: var(--cinza-escuro);
}

.dropdown-item:active {
  background-color: var(--verde-medio);
}

.dropdown-item-nome {
  font-weight: 600;
}

.dropdown-item-email {
  color: var(--cinza-medio);
  font-size: 0.938rem;
}