<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Etec Alerta - Home</title>
  <link rel="shortcut icon" href="/img/eteclogosemtexto.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Medula+One&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="css/mainStyle.css">
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="css/bootstrapCss/main.css">
  <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

  <!-- HEADER -->
  <nav class="navbar navbar-dark bg-dark">

    <div class="container-fluid">
      <img class="logo" src="/img/eteclogoBRANCO.png" alt="">

      <a class="navbar-brand" href="#"><h1>ETEC ALERTA<span class="exclamacao">!</span></h1></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">ETEC Alerta<span class="exclamacaoCor">!</span></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sobre</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Notícias
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Procurar..." aria-label="Search">
            <button class="btn btn-primary" type="submit">Procurar</button>
          </form>
        </div>
      </div>
    </div>

  </nav>

  <!-- MAIN -->
  <main>

    <img class="anuncio-renata" src="/img/anuncioRenata.jpeg" alt="Anúncio Renata">

    <section class="section-sobre">
      <div>
        <h1>SOBRE NÓS</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. In quis adipisci autem possimus porro ad animi
          tempora recusandae aperiam! Officiis facere deleniti ratione obcaecati incidunt praesentium omnis sed earum
          quam velit, nostrum, ab in nam maxime eligendi recusandae. Numquam fuga porro ut possimus vero! Aliquid
          perferendis illum consequatur! Laudantium, reiciendis?
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. In quis adipisci autem possimus porro ad animi
          tempora recusandae aperiam! Officiis facere deleniti ratione obcaecati incidunt praesentium omnis sed earum
          quam velit, nostrum, ab in nam maxime eligendi recusandae. Numquam fuga porro ut possimus vero! Aliquid
          perferendis illum consequatur! Laudantium, reiciendis?
        </p>
      </div>
      <img src="/img/sobreEtecFoto.jpg" alt="Logo da ETEC CT">
    </section>

    <section class="section-noticias">
      <h3>Notícias Populares</h3>

      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="./noticiaDs.html">
              <img src="/img/imgSpf01.jpeg" class="d-block w-100" alt="...">
              <span class="camadaEscura"></span>
              <div class="carousel-caption d-md-block">
                <h5>2º DS quebrou tudo na SPF?</h5>
                <p>Entenda o caso<span class="exclamacaoCor">!</span></p>
              </div>
            </a>
          </div>
          
          <div class="carousel-item">
            <img src="/img/imgMine.avif" class="d-block w-100" alt="...">
            <span class="camadaEscura"></span>
            <div class="carousel-caption d-md-block">
              <h5>Criado novo servidor do Mine na ETEC<span class="exclamacaoCor">!</span></h5>
              <p>Entenda como entrar</p>
            </div>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <section class="section-noticias-table">

        <div class="table-cards">

          <h4>Outras Notícias</h4>
          
          <div class="container-cards">
            <div class="myCard">
              <img src="img/imgEnem.webp" alt="...">
              <div>
                <h5>Já se inscreveu no ENEM 2024? Corre<span class="exclamacaoCor">!</span></h5>
                <p>As inscrições estão abertas e a oportunidade de garantir seu futuro acadêmico espera por você.</p>
                <p><small class="text-body-secondary">Publicado em: 02/06/2024 10h29</small></p>
              </div>
            </div>
  
            <span class="linha"></span>
  
            <div class="myCard">
              <img src="img/imgCampus.webp" alt="...">
              <div>
                <h5>Cursos de Tecnologia vão pra maior feira tecnológica da América Latina<span class="exclamacaoCor">!</span></h5>
                <p>Uma seleção diversificada de cursos, desde programação até inteligência artificial, estará em destaque neste evento imperdível.</p>
                <p><small class="text-body-secondary">Publicado em: 01/06/2024 12h40</small></p>
              </div>
            </div>
  
            <span class="linha"></span>
  
            <div class="myCard">
              <img src="img/imgMine.avif" alt="...">
              <div>
                <h5>Criado novo servidor do Mine na ETEC<span class="exclamacaoCor">!</span></h5>
                <p>O que acha de um Minezinho depois de 6 aulas? É sua oportunidade.</p>
                <p><small class="text-body-secondary">Publicado em: 26/05/2024 18h58</small></p>
              </div>
            </div>
  
            <span class="linha"></span>
  
            <div class="myCard">
              <img src="img/imgSpf01.jpeg" alt="...">
              <div>
                <h5>2º DS quebrou tudo na SPF?</h5>
                <p>Recentemente foi época de Semana Paulo Freire e pela 1ª vez dentro da ETEC e DS já veio abrindo um buraco no palco.</p>
                <p><small class="text-body-secondary">Publicado em: 09/05/2024 10:22</small></p>
              </div>
            </div>
          </div>

          <button class="btn btn-primary">Veja mais</button>

        </div>

        <div class="table-anuncios">
          <div>Anúncios... (Se tiver)</div>
        </div>

      </section>
    </section>

  </main>

  <!-- FOOTER -->
  <footer>

    <div class="container text-center" id="contato">
      
      <div class="row Glinha01">
        <div class="footer-titulo col">
          <h2>ETEC ALERTA<span class="exclamacaoCor">!</span></h2>
        </div>

        <div class="footer-contato col">
          <i class='bx bxl-facebook-circle' ></i>
          <i class='bx bxl-google' ></i>
          <i class='bx bxl-github' ></i>
          <i class='bx bxl-instagram-alt' ></i>
          <i class='bx bxl-twitter' ></i>
        </div>
      </div>

      <span class="row-division"></span>

      <div class="row Glinha02">
        <div class="footer-nav col">
          <h2>Navegação</h2>
          <a href="#">Home</a>
          <a href="#">Sobre</a>
          <a href="#">Notícias</a>
        </div>

        <div class="footer-nav col">
          <h2>Suporte</h2>
          <a class="link-faq" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            FAQ
          </a>
          <!-- Modal FAQ -->
          <div class="modal fade" id="staticBackdrop" data-bs-theme="dark" data-bs-backdrop="static"
            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">FAQ</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h6>1. Qual o próposito do site?</h6>
                  <p>Um jornal para estudantes! Coisas que nos interessem e também coisas que acontecem na ETEC CT.</p>
                  <h6>2. Qual a veracidade das notícias?</h6>
                  <p>100% sem fake news!</p>
                  <h6>3. Porque o site se chama "ETEC Alerta!"?</h6>
                  <p>... Preciso responder?</p>
                  <h6>4. Melhor curso?</h6>
                  <p>DS</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>
          <a href="#">Contato</a>
          <a href="#">Copyright</a>
        </div>

        <div class="footer-nav col">
          <h2>Fale com nossa assessoria de imprensa:</h2>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Digite sua mensagem ..."
              rows="3"></textarea>
          </div>
          <input class="btn btn-primary" type="submit" value="Enviar">
        </div>
      </div>

    </div>

  </footer>

</body>

</html>