<link rel="stylesheet" href="/css/notíciaStyle.css">

  <!--Header-->
  <nav class="navbar navbar-dark bg-dark">

    <div class="container-fluid">
      <img class="logo" src="/img/eteclogoBRANCO.png" alt="">

      <a class="navbar-brand" href="/">
        <h1>ETEC ALERTA<span class="exclamacao">!</span></h1>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">ETEC Alerta<span class="exclamacaoCor">!</span></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#sobre">Sobre</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Notícias
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="./noticiaEnem.html">Inscrição do Enem 2024!</a></li>
                <li><a class="dropdown-item" href="./noticiaCampus.html">Maior feira tecnológica da América Latina</a></li>
                <li><a class="dropdown-item" href="./noticiaMine.html">Servidor de Mine na ETEC-CT</a></li>
                <li><a class="dropdown-item" href="./noticiaDs.html">2º DS quebrou tudo na SPF?</a></li>
                <li><a class="dropdown-item" href="./noticiaAdm.html">A preocupante falta de professores na ETEC</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Procurar..." aria-label="Search">
            <button class="btn btn-primary" type="submit">Procurar</button>
          </form>
        </div>
      </div>
    </div>

  </nav>

  <main>
    <br>
    <br>

    <h1 class="titulo-noticia">Cursos de Tecnologia vão pra maior feira tecnológica da América Latina!</h1>
    <h5 class="legenda">Uma seleção diversificada de cursos, desde programação até inteligência artificial, estará em destaque neste evento imperdível.</h5>

    <div class="info">
      <p>Por ETEC ALERTA<span class="exclamacaoCor">!</span> — São Paulo
        <br>
        01/06/2024 12h40 - Atualizado há 2 dias
      </p>
    </div>

    <img class="foto-principal" src="/img/imgCampus.webp" alt="Anúncio Renata">
    <h5 class="legenda">
      No Brasil, a Campus Party é realizada em seis capitais. — Foto: Edusma7256 / Shutterstock.com
    </h5>

    <div class="paragrafo">
      <p>
        A Campus Party, feira de tecnologia, criatividade e inovação, <strong>confirmou sua edição de 2024 na capital paulista</strong>. Em evento de lançamento foi anunciado que a CPBR16 <strong>acontecerá de 9 a 14 de julho no Expo Center Norte</strong>, zona norte de São Paulo.
      </p>
      <p>
        Em seis dias, os participantes poderão transitar entre apresentações de startups, competições de robótica e palestras de especialistas em diferentes áreas da tecnologia.
      </p>
      <p>
        O encontro, que ocorre em nove cidades brasileiras, como Brasília (DF), Teresina (PI), Manaus (AM), Palmas (TO), e outras, teve sua origem na Espanha em 1997 e agora é realizado em várias partes do mundo. Dentro da Campus Party, quinze áreas distintas ocupam o espaço com uma variedade de atividades ocorrendo simultaneamente. O evento atrai um público jovem, com idades entre 18 e 25 anos, que tem a <strong>oportunidade de acampar no Expo Center Norte para aproveitar ao máximo as oportunidades oferecidas pela feira.</strong>
      </p>
      <p>
        De acordo com Tonico Novaes, o CEO da Campus Party no Brasil, as perspectivas para o evento são muito otimistas.
      </p>
      <p>
        <i>"Esperamos receber cerca de 150 mil pessoas na área Open, com uma estimativa de entre 12.000 a 20.000 'campuzeiros' dentro da Arena e aproximadamente 6.500 pessoas acampadas na área de Camping."</i>
      </p>
      <p>
        Ele enfatiza que o propósito do evento é estabelecer um espaço onde se busca <i>"tornar o <strong>acesso às novas tecnologias</strong> mais democrático e <strong>compartilhar conhecimentos</strong> diversos entre todos os estratos sociais"</i>. 
      </p>
      <p>
        <i>"Nosso objetivo é disseminar conhecimento globalmente"</i>, declara o CEO.
      </p>
    </div>

    <div class="container-escritor">
      <div class="escritor-img">
        <img src="/img/iconeGpt.webp" alt="" style="width: 50px; height: 50px; border-radius: 50%;">
      </div>

      <div class="escritor-info">
        <h4>Escrito por: <a href="https://chat.openai.com/" target="_blank">Chat GPT</a></h4>
        <p>
          Sistema de IA gratuito, use-o para conversar, obter insights, automatizar tarefas e testemunhar o futuro da IA, tudo em um só lugar.
        </p>
      </div>
    </div>

  </main>

  <!-- FOOTER -->
  <footer>

    <div class="container text-center" id="contato">

      <div class="row Glinha01">
        <div class="footer-titulo col">
          <h2>ETEC ALERTA<span class="exclamacaoCor">!</span></h2>
        </div>

        <div class="footer-contato col">
          <i class='bx bxl-facebook-circle'></i>
          <i class='bx bxl-google'></i>
          <i class='bx bxl-github'></i>
          <i class='bx bxl-instagram-alt'></i>
          <i class='bx bxl-twitter'></i>
        </div>
      </div>

      <span class="row-division"></span>

      <div class="row Glinha02">
        <div class="footer-nav col">
          <h2>Navegação</h2>
          <a href="/">Home</a>
          <a href="/#sobre">Sobre</a>
          <a href="/#noticia">Notícias</a>
        </div>

        <div class="footer-nav col">
          <h2>Suporte</h2>
          <a class="link-faq" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            FAQ
          </a>
          <!-- Modal FAQ -->
          <div class="modal fade" id="staticBackdrop" data-bs-theme="dark" data-bs-backdrop="static"
            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">FAQ</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h6>1. Qual o próposito do site?</h6>
                  <p>Um jornal para estudantes! Coisas que nos interessem e também coisas que acontecem na ETEC CT.</p>
                  <h6>2. Qual a veracidade das notícias?</h6>
                  <p>100% sem fake news!</p>
                  <h6>3. Porque o site se chama "ETEC Alerta!"?</h6>
                  <p>... Preciso responder?</p>
                  <h6>4. Melhor curso?</h6>
                  <p>DS</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>
          <a href="#">Contato</a>
          <a href="#">Copyright</a>
        </div>

        <div class="footer-nav col">
          <h2>Fale com nossa assessoria de imprensa:</h2>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Digite sua mensagem ..."
              rows="3"></textarea>
          </div>
          <input class="btn btn-primary" type="submit" value="Enviar">
        </div>
      </div>

    </div>

  </footer>