<link rel="stylesheet" href="/css/notíciaStyle.css">

  <!--Header-->
  <nav class="navbar navbar-dark bg-dark">

    <div class="container-fluid">
      <img class="logo" src="/img/eteclogoBRANCO.png" alt="">

      <a class="navbar-brand" href="/">
        <h1>ETEC ALERTA<span class="exclamacao">!</span></h1>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">ETEC Alerta<span class="exclamacaoCor">!</span></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#sobre">Sobre</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Notícias
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="./noticiaEnem.html">Inscrição do Enem 2024!</a></li>
                <li><a class="dropdown-item" href="./noticiaCampus.html">Maior feira tecnológica da América Latina</a></li>
                <li><a class="dropdown-item" href="./noticiaMine.html">Servidor de Mine na ETEC-CT</a></li>
                <li><a class="dropdown-item" href="./noticiaDs.html">2º DS quebrou tudo na SPF?</a></li>
                <li><a class="dropdown-item" href="./noticiaAdm.html">A preocupante falta de professores na ETEC</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Procurar..." aria-label="Search">
            <button class="btn btn-primary" type="submit">Procurar</button>
          </form>
        </div>
      </div>
    </div>

  </nav>

  <main>
    <br>
    <br>

    <h1 class="titulo-noticia">Já se inscreveu no ENEM 2024? Corre!</h1>
    <h5 class="legenda">As inscrições estão abertas e a oportunidade de garantir seu futuro acadêmico espera por você.</h5>

    <div class="info">
      <p>Por ETEC ALERTA<span class="exclamacaoCor">!</span> — São Paulo
        <br>
        02/06/2024 10h29 - Atualizado há 1 dia
      </p>
    </div>

    <img class="foto-principal" src="/img/imgEnem.webp" alt="Anúncio Renata">
    <h5 class="legenda">
      Gabarito do Enem — Foto: Estuda.com
    </h5>

    <div class="paragrafo">
      <p>
        As inscrições do Exame Nacional do Ensino Médio (Enem) 2024 <strong>estão abertas até o dia 7 de junho (07/06/2024)</strong>. Com o prazo para inscrições se aproximando rapidamente, milhões de estudantes em todo o Brasil estão se apressando para garantir sua participação no Exame Nacional do Ensino Médio (ENEM) de 2024. Com a competição por vagas nas universidades cada vez mais acirrada, os candidatos estão conscientes da importância de realizar a inscrição o mais rápido possível para não perderem essa oportunidade crucial.
      </p>
      <p>
        O ENEM é reconhecido como <strong>uma das principais formas de acesso ao ensino superior no país</strong>, sendo utilizado por diversas instituições de ensino como critério de seleção para ingresso em seus cursos. Além disso, o exame também é fundamental para participação em programas de financiamento estudantil e outros programas governamentais de acesso à educação.
      </p>
      <p>
        Os candidatos têm até a data designada para realizar suas inscrições, que podem ser feitas exclusivamente através do site oficial do ENEM. O processo é simples e exige que os estudantes preencham um formulário com informações pessoais e escolham a modalidade de prova que desejam realizar.
      </p>
      <p>
        Com a data das provas se aproximando, é essencial que os candidatos estejam atentos aos prazos e se inscrevam o quanto antes para evitar contratempos de última hora. Afinal, o ENEM é uma <strong>etapa fundamental na jornada educacional</strong> de milhões de brasileiros, e cada detalhe pode fazer a diferença no resultado final. Portanto, se você ainda não se inscreveu no ENEM 2024, não espere mais, corra e garanta sua participação neste importante exame!
      </p>
    </div>

    <div class="container-escritor">
      <div class="escritor-img">
        <img src="/img/iconeGpt.webp" alt="" style="width: 50px; height: 50px; border-radius: 50%;">
      </div>

      <div class="escritor-info">
        <h4>Escrito por: <a href="https://chat.openai.com/" target="_blank">Chat GPT</a></h4>
        <p>
          Sistema de IA gratuito, use-o para conversar, obter insights, automatizar tarefas e testemunhar o futuro da IA, tudo em um só lugar.
        </p>
      </div>
    </div>

  </main>

  <!-- FOOTER -->
  <footer>

    <div class="container text-center" id="contato">

      <div class="row Glinha01">
        <div class="footer-titulo col">
          <h2>ETEC ALERTA<span class="exclamacaoCor">!</span></h2>
        </div>

        <div class="footer-contato col">
          <i class='bx bxl-facebook-circle'></i>
          <i class='bx bxl-google'></i>
          <i class='bx bxl-github'></i>
          <i class='bx bxl-instagram-alt'></i>
          <i class='bx bxl-twitter'></i>
        </div>
      </div>

      <span class="row-division"></span>

      <div class="row Glinha02">
        <div class="footer-nav col">
          <h2>Navegação</h2>
          <a href="/">Home</a>
          <a href="/#sobre">Sobre</a>
          <a href="/#noticia">Notícias</a>
        </div>

        <div class="footer-nav col">
          <h2>Suporte</h2>
          <a class="link-faq" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            FAQ
          </a>
          <!-- Modal FAQ -->
          <div class="modal fade" id="staticBackdrop" data-bs-theme="dark" data-bs-backdrop="static"
            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">FAQ</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h6>1. Qual o próposito do site?</h6>
                  <p>Um jornal para estudantes! Coisas que nos interessem e também coisas que acontecem na ETEC CT.</p>
                  <h6>2. Qual a veracidade das notícias?</h6>
                  <p>100% sem fake news!</p>
                  <h6>3. Porque o site se chama "ETEC Alerta!"?</h6>
                  <p>... Preciso responder?</p>
                  <h6>4. Melhor curso?</h6>
                  <p>DS</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>
          <a href="#">Contato</a>
          <a href="#">Copyright</a>
        </div>

        <div class="footer-nav col">
          <h2>Fale com nossa assessoria de imprensa:</h2>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Digite sua mensagem ..."
              rows="3"></textarea>
          </div>
          <input class="btn btn-primary" type="submit" value="Enviar">
        </div>
      </div>

    </div>

  </footer>