<link rel="stylesheet" href="/css/notíciaStyle.css">

  {{> nav}}

  <main>
    <br>
    <br>

    <h1 class="titulo-noticia">Cursos de Tecnologia vão pra maior feira tecnológica da América Latina!</h1>
    <h5 class="legenda">Uma seleção diversificada de cursos, desde programação até inteligência artificial, estará em destaque neste evento imperdível.</h5>

    <div class="info">
      <p>Por ETEC ALERTA<span class="exclamacaoCor">!</span> — São Paulo
        <br>
        01/06/2024 12h40 - Atualizado há 2 dias
      </p>
    </div>

    <img class="foto-principal" src="/img/imgCampus.webp" alt="Anúncio Renata">
    <h5 class="legenda">
      No Brasil, a Campus Party é realizada em seis capitais. — Foto: Edusma7256 / Shutterstock.com
    </h5>

    <div class="paragrafo">
      <p>
        A Campus Party, feira de tecnologia, criatividade e inovação, <strong>confirmou sua edição de 2024 na capital paulista</strong>. Em evento de lançamento foi anunciado que a CPBR16 <strong>acontecerá de 9 a 14 de julho no Expo Center Norte</strong>, zona norte de São Paulo.
      </p>
      <p>
        Em seis dias, os participantes poderão transitar entre apresentações de startups, competições de robótica e palestras de especialistas em diferentes áreas da tecnologia.
      </p>
      <p>
        O encontro, que ocorre em nove cidades brasileiras, como Brasília (DF), Teresina (PI), Manaus (AM), Palmas (TO), e outras, teve sua origem na Espanha em 1997 e agora é realizado em várias partes do mundo. Dentro da Campus Party, quinze áreas distintas ocupam o espaço com uma variedade de atividades ocorrendo simultaneamente. O evento atrai um público jovem, com idades entre 18 e 25 anos, que tem a <strong>oportunidade de acampar no Expo Center Norte para aproveitar ao máximo as oportunidades oferecidas pela feira.</strong>
      </p>
      <p>
        De acordo com Tonico Novaes, o CEO da Campus Party no Brasil, as perspectivas para o evento são muito otimistas.
      </p>
      <p>
        <i>"Esperamos receber cerca de 150 mil pessoas na área Open, com uma estimativa de entre 12.000 a 20.000 'campuzeiros' dentro da Arena e aproximadamente 6.500 pessoas acampadas na área de Camping."</i>
      </p>
      <p>
        Ele enfatiza que o propósito do evento é estabelecer um espaço onde se busca <i>"tornar o <strong>acesso às novas tecnologias</strong> mais democrático e <strong>compartilhar conhecimentos</strong> diversos entre todos os estratos sociais"</i>. 
      </p>
      <p>
        <i>"Nosso objetivo é disseminar conhecimento globalmente"</i>, declara o CEO.
      </p>
    </div>

    <div class="container-escritor">
      <div class="escritor-img">
        <img src="/img/iconeGpt.webp" alt="" style="width: 50px; height: 50px; border-radius: 50%;">
      </div>

      <div class="escritor-info">
        <h4>Escrito por: <a href="https://chat.openai.com/" target="_blank">Chat GPT</a></h4>
        <p>
          Sistema de IA gratuito, use-o para conversar, obter insights, automatizar tarefas e testemunhar o futuro da IA, tudo em um só lugar.
        </p>
      </div>
    </div>

  </main>

  {{> footer}}