body {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--cinza-branco);
}

/* CADASTRO ------------------------------------------------------- */
.container-doacao {
  width: 900px;

  display: flex;
  flex-direction: column;
  border-radius: 2rem;

  padding: 3rem;

  background-color: var(--branco);
  box-shadow: 0 8px 20px 4px rgba(0, 0, 0, 0.25);
}

.doacao a img {
  width: 54px;
}

.doacao .linha {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.doacao label {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: var(--cinza-medio);
}

.doacao input {
  width: 100%;

  padding: 0.25rem 0.5rem;

  background-color: var(--cinza-branco);
  border: none;
  border-bottom: 1px solid var(--cinza-medio);

  margin-bottom: 2rem;
}

.doacao input::placeholder {
  color: var(--cinza-medio);
  opacity: 0.5;
}

.doacao textarea {
  width: 100%;

  padding: 0.25rem 0.5rem;

  background-color: var(--cinza-branco);
  border: none;
  border-bottom: 1px solid var(--cinza-medio);

  margin-bottom: 3rem;
}

.tipo-input, .sexo-input {
  display: flex;
  align-items: center;

  padding: 0.25rem 0.5rem;

  background-color: var(--cinza-branco);
  border: none;
  border-bottom: 1px solid var(--cinza-medio);

  margin-bottom: 2rem;
}

.tipo-input input, .sexo-input input {
  width: auto !important;
  margin: 0rem 4rem 0rem 1rem;
}

.doacao-body-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 1rem;
}

.doacao-body-info h2 {
  font-family: "Lobster", sans-serif;
  text-align: center;
}

.btn-form {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  color: var(--branco);
  font-family: "Lobster", sans-serif;
  font-size: 1.375rem;

  padding: 0.25rem 2rem 0.25rem 2rem;

  background-color: var(--verde-padrao);
  border-radius: 10px;
  border: none;
}

.btn-form:hover {
  background-color: var(--verde-medio);
}

/* CADASTRO ---------------------------------------------------- */

.hidden {
  display: none;
}

.error-text {
  font-size: 0.625rem;
  color: rgb(255, 96, 96);
  margin-top: 0.25rem;
}

/* MODAL ---------------------------------------------------- */

#modal-button {
  position: absolute;
  z-index: -1;
}